<lte-wrapper>
  <lte-header>
    <ng-template lteTemplate="left">
      <app-header-left></app-header-left>
    </ng-template>
    <ng-template lteTemplate="right">
      <app-header-right></app-header-right>
    </ng-template>
  </lte-header>
  <lte-sidebar>
    <app-brand-logo></app-brand-logo>
    <lte-sidebar-menu></lte-sidebar-menu>
  </lte-sidebar>
  <lte-content>
    <ng-template lteTemplate="headerLeft">
      headerLeft
    </ng-template>
    <ng-template lteTemplate="headerRight">
      headerRight
    </ng-template>
    <!-- <router-outlet></router-outlet> -->

    sdfsdsdfsd
  </lte-content>
  <lte-footer>
    left
    <ng-template lteTemplate="right">
      right
    </ng-template>
  </lte-footer>
</lte-wrapper>
